<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Manrod Gears Utility</title>

    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/options.css">
    <link rel="stylesheet" href="/styles/layouts.css">
    <link rel="stylesheet" href="/styles/schemas.css">


    <script src="/GearsApp/createGearData.js" defer></script>
    <script src="/GearsApp/createGearDataLayout.js" defer></script>
    <script src="/GearsApp/createGearLayout.js" defer></script>
    <script src="/GearsApp/initGearApp.js" defer></script>
    <script src="/GearsApp/searchPitchTarget.js" defer></script>

    <script src="/scripts/createHtmlLayout.js" defer></script>
    <script src="/scripts/script.js" defer></script>

</head>
<body>
    <div class="content">
    
        <header>
            <h1>
                Manrod 330 Gears utility
            </h1>
        </header>
        <main>
            <div class="group latheInfo">
                <h2>Configuração do torno</h2>
                <div class="field latheScrewPitch">
                    <div class="titlefield">
                        Passo parafuso avanço (mm)
                    </div>
                    
                    <input type="number" name="latheScrewPitch" id="input_latheScrewPitch" value="2" min="1" onchange="changeLatheScrewPitch(this)" >
                </div>
                <div class="field firstGear">
                    <div class="titlefield">
                        Primeira engrenagem (dentes)
                    </div>
                    
                    <input type="number" name="firstGear" id="id_firstGear" value="40" min="1" onchange="changeFirstGear(this)"> 
                </div>
                <hr/>
            </div>
            <div class="group gearsAvaliable">
                <h2>Conjunto de engrenagens</h2>
                <div class="field addGear">
                    <div class="titlefield">
                        Adicionar engrenagem (dentes)
                    </div>
                    
                    <input type="number" min="1" value='1' id="inputAddGear">
                    <button onclick="addGear()">Add</button>
                </div>
                <div class="field addedGears">
                    <div class="titlefield">
                        Remover engrenagem
                    </div>
                
                        <select id="select_gearsAvaliable">
                            <option value="90">90</option>
                            <option value="90">90</option>
                            <option value="80">80</option>
                            <option value="80">80</option>
                            <option value="75">75</option>
                            <option value="70">70</option>
                            <option value="66">66</option>
                            <option value="60">60</option>
                            <option value="50">50</option>
                            <option value="42">42</option>
                            <option value="40">40</option>
                            <option value="33">33</option>
                            <option value="30">30</option>
                            
                        </select>
                    
                    <button onclick='removeGear()'>Remover</button>
                </div>
                <hr>
            </div>
            <div class="group searchData">
                <h2>Busca</h2>
                <div class="field pitchTarget">
                    <div class="titlefield">
                        Passo Desejado (mm)
                    </div>
                    
                    <input type="number" name="pitch" id="input_pitch" min="0.01" value="1" onchange="changeTargetPitch(this)">
                    
                </div>
                <div class="field range">
                    <div class="titlefield">
                        Tolerancia (mm)
                    </div>
                    
                    <input type="number" name="range" id="input_range" min="0" value="0" onchange="changeToleranceLimit(this)">
                </div>
                <hr>
            </div>
            <div class="group submit">
                <button onclick='search()'>Buscar</button>
            </div>
            
        </main>
    
        <aside>
            <div class="group combinations">
                <h2>
                    Combinações possiveis
                </h2>
                <hr>

                <div class="layouts">
                    
                </div>
            </div>
            <div class="group schema">
                <h2>
                    Esquemas
                </h2>
                <hr>
                <div class="infoCombinationStep">
                    Passo da combinação 1mm
                </div>
                <div class="layoutBaseSchema">
                    <div class="schemaGear gearGU">
                        <div class="gearId">
                            G
                        </div>
                        <div class="selectGearCombination">
                            50
                        </div>
                    </div>

                    <div class="schemaGear gearD">
                        <div class="gearId">
                            D
                        </div>
                        <div class="selectGearCombination">
                            50
                        </div>
                    </div>

                    <div class="schemaGear gearF">
                        <div class="gearId">
                            F
                        </div>
                        <div class="selectGearCombination">
                            50
                        </div>
                    </div>

                    <div class="schemaGear gearE">
                        <div class="gearId">
                            E
                        </div>
                        <div class="selectGearCombination">
                            50
                        </div>
                    </div>

                    <div class="schemaGear gearL activeLayout">
                        <div class="gearId">
                            L
                        </div>
                        <div class="selectGearCombination">
                            50
                        </div>
                    </div>

                    <div class="schemaGear gearGL">
                        <div class="gearId">
                            G
                        </div>
                        <div class="selectGearCombination">
                            50
                        </div>
                    </div>

                </div>
            </div>
            
        </aside>
        
        
    </div>

</body>
</html>