.combinations{
    /* background-color:green; */
    width: 50%;
}
  
  
.layouts{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
  
.layout{
    padding:0.5rem;
    display:flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color:rgba(0, 0, 0, 0.144);
    max-height: 18rem;
}

.layout:hover{
    background-color:lightblue;
}

.layoutDescription{
   cursor: pointer;
   display:flex;
   justify-content: space-between;
}

.layoutCombinations{
    height:0;
    overflow: hidden;
    padding-left: 1rem;
}

.layoutCombination{
    cursor:pointer;

    padding:0.2rem;
}

.layoutCombination:hover{
    background-color: blue;
    color: white;
}