.group{
    padding:1rem;
    display:flex;
    flex-direction: column;
}
  
.field{
    width: 100%;
    display:flex;
    padding: 1rem; 
}
  
.titlefield{
    width: 50%;
}
  
.group.submit{
    align-items: center;
}
  
.group.submit>button{
    background-color:rgba(173, 216, 230, 0.527);
    width: 100%;
    font-size: larger;
}
  
.group.submit>button:hover{
    background-color:lightblue;
    width: 100%;
}

.group.submit>button:active{
    background-color:blue;
    color:white;
    width: 100%;
}
  
  