* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.content{
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas: 
    'header header header' 
    'main  aside aside'
  ;
}

header{
  background-color: lightblue;
  padding: 1rem;
  grid-area: header;
}

main{
  grid-area: main;
  /* background-color:yellowgreen; */
}


input, button, select{
  width: 4.5rem;
  padding: 0.5rem;
}
button{
  cursor: pointer;
  background-color:rgba(173, 216, 230, 0.527);
}

button:hover{
  background-color:lightblue;
}

aside{
  grid-area: aside;
  /* background-color: pink; */
  display:flex;
  width: 100%;
}
